################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRSWeb/.vs
/CRSWeb/CRSWeb/bin/Debug/net8.0
/CRSWeb/CRSWeb/obj
/.vs
/CRSWeb/bin/Debug/net8.0
/CRSWeb/obj
